<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="dasturlash.uz"/>

<!--    <bean name="factory" class="org.hibernate.SessionFactory" abstract="true"/>-->

<!--    <bean name="adminController" class="dasturlash.uz.controller.AdminController" autowire="byName">-->
<!--    </bean>-->
<!--    <bean name="bookController" class="dasturlash.uz.controller.BookController" autowire="byName">-->
<!--    </bean>-->
<!--    <bean name="categoryController" class="dasturlash.uz.controller.CategoryController" autowire="byName">-->
<!--    </bean>-->
<!--    <bean name="mainController" class="dasturlash.uz.controller.MainController" autowire="byName">-->
<!--    </bean>-->
<!--    <bean name="profileController" class="dasturlash.uz.controller.ProfileController" autowire="byName">-->
<!--    </bean>-->
<!--    <bean name="staffController" class="dasturlash.uz.controller.StaffController" autowire="byName">-->
<!--    </bean>-->
<!--    <bean name="studentController" class="dasturlash.uz.controller.StudentController" autowire="byName">-->
<!--    </bean>-->
<!--    <bean name="studentProfileController" class="dasturlash.uz.controller.StudentProfileController" autowire="byName">-->
<!--    </bean>-->




<!--    <bean name="authService" class="dasturlash.uz.service.AuthService" autowire="byName">-->
<!--    </bean>-->
<!--    <bean name="bookService" class="dasturlash.uz.service.BookService" autowire="byName">-->
<!--    </bean>-->
<!--    <bean name="categoryService" class="dasturlash.uz.service.CategoryService" autowire="byName">-->
<!--    </bean>-->
<!--    <bean name="profileService" class="dasturlash.uz.service.ProfileService" autowire="byName">-->
<!--    </bean>-->
<!--    <bean name="studentBookService" class="dasturlash.uz.service.StudentBookService" autowire="byName">-->
<!--    </bean>-->



<!--    <bean name="bookRepository" class="dasturlash.uz.repository.BookRepository" autowire="byName">-->
<!--    </bean>-->
<!--    <bean name="categoryRepository" class="dasturlash.uz.repository.CategoryRepository"/>-->
<!--    <bean name="profileRepository" class="dasturlash.uz.repository.ProfileRepository"/>-->
<!--    <bean name="studentBookRepository" class="dasturlash.uz.repository.StudentBookRepository" autowire="byName">-->
<!--    </bean>-->



</beans>
